*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-image: url('https://fastly.picsum.photos/id/84/1920/1089.jpg?hmac=7a1ruFVXDtqlpkROLJzuOPSf8L1Um_KGWBxHPcqkLss');
    background-size: cover;
}
input{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc( 100% - 100px);
}
button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    float: right;
    cursor: pointer;
}
.caixa-maior{
    background-color: rgba(255, 255, 255, 0.8);
    width: 95%;
    max-width: 420px;
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
}
.lupa {
    height: 20px;
}